{
    email {$ACME_EMAIL}
}

*.int.sdr.wtf {
    tls {
        dns cloudflare {$CLOUDFLARE_API_TOKEN}
        resolvers 1.1.1.1:53 1.0.0.1:53
        propagation_delay 60s
    }

    @dns host dns.int.sdr.wtf
    handle @dns {
        reverse_proxy 10.0.30.20:5380
    }

    @pve00 host pve-00.int.sdr.wtf
    handle @pve00 {
        reverse_proxy https://10.0.0.10:8006 {
            transport http {
                tls_insecure_skip_verify
            }
        }
    }

    @pve01 host pve-01.int.sdr.wtf
    handle @pve01 {
        reverse_proxy https://10.0.0.11:8006 {
            transport http {
                tls_insecure_skip_verify
            }
        }
    }

    @pve02 host pve-02.int.sdr.wtf
    handle @pve02 {
        reverse_proxy https://10.0.0.12:8006 {
            transport http {
                tls_insecure_skip_verify
            }
        }
    }

    @pve03 host pve-03.int.sdr.wtf
    handle @pve03 {
        reverse_proxy https://10.0.0.13:8006 {
            transport http {
                tls_insecure_skip_verify
            }
        }
    }

    @semaphore host semaphore.int.sdr.wtf
    handle @semaphore {
        reverse_proxy 10.0.30.20:3000
    }

    @pbs host pbs-01.int.sdr.wtf
    handle @pbs {
        reverse_proxy https://192.168.7.2:8007 {
            transport http {
                tls_insecure_skip_verify
            }
        }
    }

    @checkmk host checkmk.int.sdr.wtf
    handle @checkmk {
        # Redirect root requests to the Checkmk site directory
        redir / /cmk/
        reverse_proxy 10.0.30.19:80
    }

    handle {
        respond "Service not found or not yet configured in Caddy." 404
    }
}
